@import-normalize;

html {
  box-sizing: border-box;
  font-size: 1em;
  /* line-height: normal; */
}

body {
  font-size: 1.25em;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input:focus,
textarea:focus,
select:focus{
  outline: none;
}

.app-page {
  display: block;
}

.app-container {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 20px;
  justify-content: center;
}

.app {
  border-radius: 5px;
  overflow: hidden;
  max-width: 400px;
  width: 100%;
}
